.DS_Store
node_modules
/dist
goPriceWatch.exe

# local env files
.env.local
.env.*.local

*.tmp

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

_Store
WebIM/WebIM
shorturl/shorturl
todo/todo
*.exe
*.exe~

config.json