<h3>Details</h3>

<p>{{.product.Name}}</p>


<canvas id="myChart" width="400" height="150"></canvas>

<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-content">
                <p>Max Price: {{.max}}.-</p>
                <p>Min Price: {{.min}}.-</p>
                <hr /> {{range $price := .prices}}
                <p><span>{{date $price.Date "yy-m-d"}}</span> | <span>{{$price.Price}}.-</span> {{end}}</p>
            </div>
            <!-- <div class="card-action">
                <a href="#">This is a link</a>
            </div> -->
        </div>
    </div>
</div>

<a style="margin-bottom: 5px;" href="/product" class="waves-effect waves-light btn-small teal lighten-2">back</a>

<div id="dates" style="visibility: hidden; height: 0px;">
    {{.dates}}
</div>

<div id="data" style="visibility: hidden; height: 0px;">
    {{.data}}
</div>

<script>
    (function() {
        var ctx = document.getElementById('myChart');
        var dates = JSON.parse(document.getElementById('dates').textContent);
        var data = JSON.parse(document.getElementById('data').textContent);

        console.log(dates);
        console.log(data)

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: '# of dates',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            // options: {
            //     scales: {
            //         yAxes: [{
            //             ticks: {
            //                 beginAtZero: true
            //             }
            //         }]
            //     }
            // }
        });
    })();
</script>